html, main {
    height: 100%;
    color: #f4f4f9;
    box-sizing: border-box;
}

main {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    overflow: auto;
}

button {
    font-family: 'Proza Libre', sans-serif;
    border: 2px solid #FFF;
    border-radius: 22px;
    color: #FFF;
    padding: 14px 18px 12px 14px;
    position: relative;
    text-decoration: none;
    width: auto;
    background: linear-gradient(to right, #fff 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

button:hover {
    background-position: left bottom;
    color: #333;
}

button:focus {
    outline: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/ -1;
    grid-row: 1;
    background-color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    box-shadow: 0 10px 23px -17px rgba(0,0,0,0.6);
    z-index: 1;
}

#nav-bar > h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #333333;
    font-size: 3.3rem;
}

#nav-input-container {
    width: 50%;
    text-align: right;
}

#search {
    width: 240px;
    border: 2px solid #333;
    border-radius: 22px;
    color: #333;
    padding: 14px 18px 12px 14px;
    font-family: 'Proza Libre', sans-serif;
}

#search:focus {
    outline: none;
}

#log-btn {
    border: 2px solid #333;
    color: #333;
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #333 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

#log-btn:hover {
    background-position: left bottom;
    color: #fff;
}

#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/ 4;
    grid-row: 2/ -1;
    background-color: #e52c30;
    color: #fff;
    font-family: 'Proza Libre', sans-serif;
    padding: 2rem;
    box-shadow: 6px 6px 8px 2px #000;
}

#side-bar-data {
    width: 100%;
    height: 20%;
    margin-top: -1rem;
}

#side-bar-data > h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

#data-list {
    height: 100px;
}

#data-list > li {
    margin-bottom: 7px;
}

li > span {
    float: right;
}

#side-bar-storage {
    width: 100%;
    height: 30%;
}

#side-bar-storage > h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.delete-storage-btn {
    text-align: center;
    font-size: 1rem;
    width: 100%;
}

#delete-local-btn {
    margin-bottom: 0.5rem;
}

#side-bar-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -3rem;
}

#img-container {
    height: 32px;
    width: 32px;
    background-image: url("GitHub-Mark-32px.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-origin: content-box;
    padding-left: 10px;
}

#img-container:hover {
    height: 32px;
    width: 32px;
    background-image: url("GitHub-Mark-Light-32px.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-origin: content-box;
    padding-left: 10px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    grid-column: 4/ -1;
    grid-row: 2/ -1;
    overflow: scroll;
    background-color: #B90E18;
    font-family: 'Proza Libre', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 16px 31px -17px rgba(0,0,0,0.6);
    width: 230px;
    height: 300px;
    transition: 0.3s;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 60%;
    color: #fff;
    padding: 0 16px;
    border-radius: 10px 10px 0 0;
}

.card-info > h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
}

.card-info > p {
    margin-top: 10px;
}

#switch-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

#switch-container > p {
    margin-right: 0.5rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    text-align: justify;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #333;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #e52c30;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #e52c30;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.card-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    padding: 0 16px;
}

.card-btn-container > button {
    border: 2px solid #333;
    color: #333;
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #333 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.card-btn-container > button:hover {
    background-position: left bottom;
    color: #fff;
}

.card:hover {
    box-shadow: 0 31px 46px -10px rgba(0,0,0,0.6);
}

#creator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #333 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

#creator-container:hover {
    background-position: left bottom;
}

#creator-container > div:hover {
    width: 200px;
    height: 200px;
    transform: scale(1.1);
    background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff);
    background-position: center;
    background-size: 50% 2px,2px 50%;
    background-repeat: no-repeat;
}

#plus {
    width: 200px;
    height: 200px;
    background: linear-gradient(#333,#333), linear-gradient(#333,#333);
    background-position: center;
    background-size: 50% 2px,2px 50%;
    background-repeat: no-repeat;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
}

#book-creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 16px;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
}

#book-creation-form > h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

#book-creation-form > input {
    width: 240px;
    border: 2px solid #333;
    border-radius: 22px;
    color: #333;
    padding: 14px 18px 12px 14px;
    font-family: 'Proza Libre', sans-serif;
    margin-bottom: 1rem;
}